body {
    background-color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #5a3e2b;
}

header {
    background-color: #d2bba0;
    padding: 20px;
    text-align: center;
}

/* nav bar */
.navbar {
    width: 100%;
    padding: 10px 0;
    text-align: center;
}


.navbar ul {
    font-family: "Playwrite IT Moderna", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: bold;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;

}

.navbar ul li {
    display: inline;
}

.navbar ul li a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 18px;
    padding: 8px 15px;
    transition: 0.3s;
}

.navbar ul li a:hover {
    color: #8E6D5B;
    text-decoration: underline;
}

#title {
    font-family: "Playwrite IT Moderna", serif;
    font-size: 28px;
    font-weight: bold;
    color: #5a3e2b;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#bannerDog img{
    object-fit: cover; 
}

.about-container {
    padding: 40px;
    max-width: 900px;
    margin: auto;
    text-align: center;

}

.about-container h2 {
    font-size: 32px;
    margin-bottom: 10px;
    font-family: "Outfit", serif;
    font-style: normal;
}

.info {
    background: #f9f3ee;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    margin: 0 auto;
    text-align: center;

}

.info p {
    font-size: 25px;
    font-family: "Outfit", serif;
    font-style: normal;
    margin-bottom: 20px;
    
}

footer {
    background-color: #d2bba0;
    padding: 20px;
    color: white;
    font-weight: bold;
    margin-top: 40px;
}

